.video-link {
  color: black;
}
.video-link:hover {
  text-decoration: none;
}

.video-wrapper {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video-wrapper {
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .video-container {
    width: 50%;
    padding: 10px;
  }
}
