h1,
h2 {
  text-align: center !important;
  font-size: 50px !important;
}
.ftext p{
    font-size: 30px;
    
}
.flearn:hover{
    text-decoration: none;
    opacity: 0.5;
}
li{
     list-style: none;
}
.flearn::after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}
.flearn{
    font-size: 25px;
   
}
